# MongoDB
MONGODB_URI=mongodb://localhost:27017/katiani-styles

# JWT
JWT_SECRET=katiani-styles-secret-key

# M-Pesa Daraja 3.0
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://ais-dev-v72rmui5acstauh2pl2mli-71130930884.europe-west2.run.app/api/mpesa/callback

# Admin
ADMIN_WHATSAPP=254XXXXXXXXX

# WhatsApp Cloud API
WHATSAPP_TOKEN=your_meta_test_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
